# I am not sure what exactly is neccessary to ignore, but this is a good start.

__pycache__
pypi_upload.bat

pycache/
*.py[cod]
*$py.class

bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

venv/
.venv/
env/
.env/
ENV/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pyo
.hypothesis/
.pytest_cache/

docs/_build/

target/

.ipynb_checkpoints

profile_default/
ipython_config.py

.python-version